@{
    ViewData["Title"] = "Home Page";
}

<section class="d-flex align-items-center">
    <div class="container sileder-section">
        <div class="row py-3">
            <div class="col-12">
                <h1 class="text-center text-white-50 py-5">Library_managment_system</h1>
            </div>
        </div>
        <div class="row pt-5 justify-content-around">
            <div class="col-5">
                <p class="text-white-50 text-justify mt-5">A library management system is a computerized information system that supports the management of library resources, including their acquisition, representation, and circulation. It is composed of interconnected subsystems that work together to achieve the common purpose of efficiently managing library operations.</p>
            </div>
            <div class="col-4">
                <div class="team-members text-white-50">
                    <h1 class="pb-3">Team  Members</h1>
                    <h4>Mehedi Hasan</h4>
                    <h4>Dipjoy Sarker</h4>
                    <h4>Mofasserul Alam Tarek</h4>
                    <h4>Rashida Akther</h4>
                    <h4>Afroza Akhter</h4>
                </div>
            </div>
        </div>
    </div>
</section>
