html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.sileder-section {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/homepage_background.png);
    background-size: cover;
    box-shadow: -5px 7px 23px -9px rgba(0,0,0,0.75);
}